@import url('https://fonts.googleapis.com/css?family=Roboto');
*
{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Roboto', sans-serif;
}

.imageWrapper {
  display: flex;
  margin-top: auto;
  position: relative;
}

.image{
  width: 100%;
}

.imageTexth1{
  position: absolute;
  bottom:75%;
  left: 45%;
  text-align:start;
  color: #2c8e32;
}
.imageTexth2{
  position: absolute;
  bottom:69%;
  left: 45%;
  text-align:start;
  color: #2c8e32;
}
.imageTextp{
  position: absolute;
  bottom:35%;
  left: 46%;
  text-align:start;
  font-size: 20px;
}
.imageprojeTexth1{
  position: absolute;
  bottom:80%;
  left: 32%;
  text-align:start;
  color: whitesmoke;
  border-bottom: 3px solid whitesmoke;
  border-bottom-style: inset 
}

.fontlight{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
.fontnormal{
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
}
.fontbold{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.font500{
  font-family: 'Roboto', sans-serif;
  font-weight:500;
}
.font300{
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}
.font400{
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}
.font900{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.a{
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 5rem;
}
.b{
  display: grid;
}
.c{
  display: grid;
  grid-gap: 4em;
}
.navbarunderline{
  margin-right: 20px;
  border-bottom: 1px solid #2c8e32;
  border-bottom-style: inset 
}
.ekipunderline{
  border-width: 60%;  
  border-bottom: 3px solid #2c8e32;
  border-bottom-style: inset 
}
.backgroundcard{
  background-color:rgba(245, 245, 245, 0.2 );
  border-radius: 0px;
}
.backgroundcardekip{
  background-color:#333333;
  border-radius: 0px;
}
.image-overlay{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111111;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.image-overlay:hover{
  opacity: 70%;
}
